.discuss {
  background-color: #fff;
  margin-bottom: 10px;

  .top {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    justify-content: space-between;
    border-bottom: 1px dashed #eeeeee;

    .left {
      display: flex;
      align-items: center;
      font-size: 34px;

      .at-avatar {
        width: 80px;
        height: 80px;
        margin-right: 20px;
      }
    }

    .right {
      color: #787878;
      font-size: 26px;
    }
  }

  .middle {
    padding: 10px 15px;
    word-break: break-all;
    font-size: 30px;
    line-height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    color: #000000a8;
    border-bottom: 1px dashed #eeeeee;
  }

  .bottom {
    height: 80px;
    padding: 0 15px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    image {
      width: 40px;
      height: 40px;
      margin-left: 50px;
    }

    view {
      color: #787878;
      font-size: 26px;
      margin-left: 8px;
    }
  }
}