.me {
  .self {
    height: 200px;
    width: 100%;
    background-color: #4e73ba;
    display: flex;
    padding: 0 30px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      text {
        color: #fff;
        margin-left: 30px;
        font-size: 36px;
      }
    }

  }
  .info {
    .me_at-form {
      margin-bottom: 30px !important;
    }

    .btn .at-button {
      margin-bottom: 10px;
    }
  }

  .avater_select {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    image {
      width: 15%;
      margin: 30px;
    }
  }
  
}