.fresh {
  .search{
    margin-bottom: 30px;
    .at-list__item-content {
      color: #5474b5;
    }
  }

  .stu_title {
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #5474b5;
  }

  .warning-txt {
    color: rgb(165, 62, 62);
    font-size: 26px;
  }
}